{% extends 'management/manage_base.html' %}

{% block body %}
<div id="manage_content" class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ">
    <div class="my_fix_content" style="overflow-y: scroll;max-height: 100px;">

        <ul class="breadcrumb" style="margin-top:10px;margin-bottom:0px">
            <li><h2><strong style="color:#00BCD4">首页</strong></h2></li>
            <li>信息梗概</li>
        </ul>

        <ul class=" col-xs-12 my_col-xs-11  am-margin am-padding am-text-center admin-content-list offen_visit_model">
            <li class="my_border my_li"><a
                    href="http://localhost/teacher_manage_add_item"
                    class="am-text-success"><span
                    class="am-icon-btn am-icon-hdd-o"></span><br>设备说明<br></a></li>
            <li class="my_border my_li"><a
                    href="http://localhost/teacher_manage_add_Lab_project_item"
                    class="am-text-warning"><span
                    class="am-icon-btn am-icon-tasks"></span><br>实验室项目<br></a></li>
            <li class="my_li"><a href="#"
                                 class="am-text-danger"><span
                    class="am-icon-btn am-icon-table"></span><br>实验室排课表<br></a></li>
        </ul>


        <div class="row center-block">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        设备说明上传
                        <div class="my_panel_title"><a href="">更多>></a></div>
                    </div>
                    <div class="">
                        <table class="table ">
                            <tr>
                                <th>名称</th>
                                <th>上传日期</th>
                                <th> 管理
                                </th>

                            </tr>
                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>
                                <td>
                                    <!--<a>修改</a>/<a>删除</a>-->
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs dropdown-toggle " data-toggle="dropdown"
                                           style="margin-right: 15px;color:#000000;">设置<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-user"></span> 删除</a>
                                            </li>

                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-off"></span> 修改</a>
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>
                                <td>
                                    <!--<a>修改</a>/<a>删除</a>-->
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs dropdown-toggle " data-toggle="dropdown"
                                           style="margin-right: 15px;color:#000000;">设置<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-user"></span> 删除</a>
                                            </li>

                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-off"></span> 修改</a>
                                            </li>
                                        </ul>

                                    </div>
                                </td>

                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>
                                <td>
                                    <!--<a>修改</a>/<a>删除</a>-->
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs dropdown-toggle " data-toggle="dropdown"
                                           style="margin-right: 15px;color:#000000;">设置<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-user"></span> 删除</a>
                                            </li>

                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-off"></span> 修改</a>
                                            </li>
                                        </ul>

                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        视频上传
                        <div class="my_panel_title"><a href="">更多>></a></div>
                    </div>
                    <div class="">
                        <table class="table ">
                            <tr>
                                <th>名称</th>
                                <th>上传日期</th>
                                <th> 管理
                                </th>

                            </tr>
                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>
                                <td>
                                    <!--<a>修改</a>/<a>删除</a>-->
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs dropdown-toggle " data-toggle="dropdown"
                                           style="margin-right: 15px;color:#000000;">设置<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-user"></span> 删除</a>
                                            </li>

                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-off"></span> 修改</a>
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>
                                <td>
                                    <!--<a>修改</a>/<a>删除</a>-->
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs dropdown-toggle " data-toggle="dropdown"
                                           style="margin-right: 15px;color:#000000;">设置<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-user"></span> 删除</a>
                                            </li>

                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-off"></span> 修改</a>
                                            </li>
                                        </ul>

                                    </div>
                                </td>

                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>
                                <td>
                                    <!--<a>修改</a>/<a>删除</a>-->
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs dropdown-toggle " data-toggle="dropdown"
                                           style="margin-right: 15px;color:#000000;">设置<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-user"></span> 删除</a>
                                            </li>

                                            <li><a href="#" style="color:#000000;"><span
                                                    class="glyphicon glyphicon-off"></span> 修改</a>
                                            </li>
                                        </ul>

                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        最近公告
                        <div class="my_panel_title"><a href="">添加>></a></div>
                    </div>
                    <div class="">
                        <table class="table ">
                            <tr>
                                <th>名称</th>
                                <th>上传日期</th>
                            </tr>
                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>

                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>


                            <tr>
                                <td>FPGA说明</td>
                                <td>2016/06/13</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>

    $(function () {
        $(".xzd a").css("color", "#5c5c5c");
        set_fix_heigh();

        $('.my_fix_content').niceScroll({
            cursorcolor: "#ccc",//#CC0071 光标颜色
            cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
            touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
            cursorwidth: "1px", //像素光标的宽度
            cursorborder: "0", // 游标边框css定义
            cursorborderradius: "5px",//以像素为光标边界半径
            autohidemode: true//是否隐藏滚动条
        });

    });
    var set_fix_heigh = function () {

        var screen_height = $(window).height();
        var bar_height = $("#serive-bar").height();
        var content_heigh = screen_height - bar_height;
        $(".my_fix_content").css("max-height", content_heigh);
        var table_max_width = $(".panel.panel-success").width();
        $(".table").css("max-width", table_max_width);
        if ($(window).width() > 768) {
            $("#manage_content").css("padding", "0px 0px");
        } else {
            $("#manage_content").css("padding", "15px 15px");
        }
    };
    $(window).resize(function () {
        set_fix_heigh()

    });

</script>
{% endblock %}