{% extends 'management/manage_base.html' %}

{% block body %}
<div id="manage_content" class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ">
    <div class="my_fix_content" style="overflow-y: scroll;max-height: 100px;">

        <ul class="breadcrumb" style="margin-top:10px;margin-bottom:0px">
            <li><h2><strong style="color:#00BCD4">添加设备信息</strong></h2></li>
            <li>选项</li>
        </ul>

        <ul class=" col-xs-12 my_col-xs-11  am-margin am-padding am-text-center admin-content-list offen_visit_model">
            <li class="my_border my_li"><a
                    href="#"
                    class="am-text-success"><span
                    class="am-icon-btn  am-icon-info"></span><br>添/删首页简介<br></a></li>
            <li class="my_border my_li"><a
                    href="http://localhost/teacher_manage_add_description"
                    class="am-text-warning"><span
                    class="am-icon-btn am-icon-hdd-o"></span><br>添加设备说明<br></a></li>
            <li class="my_li"><a href="http://localhost/teacher_manage_upload_detail"
                                 class="am-text-danger"><span
                    class="am-icon-btn am-icon-upload"></span><br>上传图片视频<br></a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    $(function () {
        $(".xzd a").css("color", "#5c5c5c");
        set_fix_heigh();

        $('.my_fix_content').niceScroll({
            cursorcolor: "#ccc",//#CC0071 光标颜色
            cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
            touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
            cursorwidth: "1px", //像素光标的宽度
            cursorborder: "0", // 游标边框css定义
            cursorborderradius: "5px",//以像素为光标边界半径
            autohidemode: true//是否隐藏滚动条
        });

    });
    var set_fix_heigh = function () {

        var screen_height = $(window).height();
        var bar_height = $("#serive-bar").height();
        var content_heigh = screen_height - bar_height;
        $(".my_fix_content").css("max-height", content_heigh);
        var table_max_width = $(".panel.panel-success").width();
        $(".table").css("max-width", table_max_width);
        if ($(window).width() > 768) {
            $("#manage_content").css("padding", "0px 0px");
        } else {
            $("#manage_content").css("padding", "15px 15px");
        }
    };
    $(window).resize(function () {
        set_fix_heigh()

    });

</script>
{% endblock %}